.login-body {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
    .login-box {
        background-color: #080d19;
        border-radius: 25px;
        padding: 10vh;
        box-shadow: 0 0 15px 5px #fc3cb2;
        .name-box {
            display: flex;
            flex-direction: column;
            label {
                margin-left: 20px;
            }
            input {
                background-color: #121827;
                border-radius: 25px;
                padding: 10px;
                margin: 10px;
                border: none;
                color: #fc3cb2;
                font-family: "IBM Plex Mono", monospace;
                &:focus {
                    outline: 1px solid #fc3cb2;
                }
            }
        }
        .password-box {
            display: flex;
            flex-direction: column;
            label {
                margin-left: 20px;
            }
            input {
                background-color: #121827;
                border-radius: 25px;
                padding: 10px;
                margin: 10px;
                border: none;
                color: #fc3cb2;
                font-family: "IBM Plex Mono", monospace;
                &:focus {
                    outline: 1px solid #fc3cb2;
                }
            }
        }
        input[type="submit"] {
            width: 450px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            font-family: "OCR A Extended";
            background-color: #121827;
            border: none;
            font-size: 1.5em;
            border-radius: 25px;
            padding: 10px;
            color: white;
            margin: 10px;
            cursor: pointer;
            transition: 0.3s;
            &:hover {
                transition: 0.3s;
                filter: brightness(1.2);
            }
        }
    }
}
