h1 {
    margin: 30px 0;
    text-align: center;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    flex: 1;
    font-size: 3rem;
    font-family: "OCR A Extended";
}

.scoreboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    table {
        text-shadow: 0 0 10px #fc3cb2;
        margin-bottom: 20px;
        font-size: 1.6rem;
        text-align: center;
        align-content: center;
        display: block;

        tr, th, td {
            border: 1px solid #fc3cb2;
            padding: 10px;
            padding-left: 75px;
            padding-right: 75px;

            th {
                background-color: #fc3cb2;
                color: white;
            }
        }
    }
}
